@model VehicleDiary.ViewModel.DBCarUsageModelVM


<a asp-controller="CarUsage" asp-action="Petrol" asp-route-vehicleIDRoute="@Model.vehicleID">Petrol</a>
<a asp-controller="CarUsage" asp-action="Vignette" asp-route-vehicleIDRoute="@Model.vehicleID">Vignette</a>
<a asp-controller="CarUsage" asp-action="Oil" asp-route-vehicleIDRoute="@Model.vehicleID">Oil</a>
<a asp-controller="CarUsage" asp-action="Tires" asp-route-vehicleIDRoute="@Model.vehicleID">Tires</a>
<h1>Tests2</h1>
<div>
	<h2>Petrol</h2>
@foreach(var entry in Model.GettingViews)
{
	<div class="container">
		<p>Price: @entry.PetrolPrice </p>
		<p>Amount: @entry.PetrolAmount </p>
		<p>Type: @entry.PetrolType </p>
		<p>Date: @entry.PetrolDate </p>
	</div>
}
</div>